{
    http_port 8442
    https_port 8443
    acme_dns {{ caddy.acme_dns.provider }} {{ caddy.acme_dns.token }}
}

panel.ayeama.com, localhost {
    basic_auth {
        {% for user in caddy.users %}
        {{ user.username }} {{ user.password }}
        {% endfor %}
    }

    route {
        handle_path /api/* {
            reverse_proxy panel-api:8000 {
                header_up X-Real-IP {remote_host}
                header_up X-Forwarded-Proto {scheme}
            }
        }

        handle {
            reverse_proxy panel-ui:80 {
                header_up X-Real-IP {remote_host}
                header_up X-Forwarded-Proto {scheme}
            }
        }
    }
}